body{
    color: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin:auto;
  }

.center{
    text-align: center;
}

.converter-wrapper {
	 display: flex;
	 min-width: 150px;
	 margin: auto;
}
 .converter-wrapper textarea {
	 width: 100%;
	 min-height: 350px;
}
 .converter {
	 display: flex;
	 flex-direction: column;
	 margin: auto;
	 border: 1px solid rgba(0, 0, 0, 0.5);
	 border-radius: 4px 4px 4px 4px;
	 width: 100%;
}
 .textareas {
	 display: flex;
	 flex-direction: rows;
}
 .textareas textarea {
	 resize: vertical;
	 border: none;
	 padding: 10px;
}
 textarea:focus {
	 outline: 0;
}
 .textareas hr {
	 height: auto;
	 width: auto;
	 margin: 0px;
	 border-color: rgba(0, 0, 0, 0.5);
	 border-style: solid;
	 border-width: 0px 0px 1px 1px;
}
 .switch-field {
	 display: flex;
	 overflow: hidden;
	 margin: auto;
	 min-width: 150px;
}
 .switch-field input {
	 position: absolute !important;
	 clip: rect(0, 0, 0, 0);
	 height: 1px;
	 width: 1px;
	 border: 0;
	 overflow: hidden;
}
 .switch-field label {
	 background-color: #fff;
	 color: rgba(0, 0, 0, 0.8);
	 font-size: 14px;
	 line-height: 1;
	 text-align: center;
	 padding: 8px 16px;
	 border: 1px solid rgba(0, 0, 0, 0.2);
	 border-width: 0 1px 1px 0;
	 margin-bottom: 0px;
}
 .switch-field label:hover {
	 cursor: pointer;
	 box-shadow: none;
	 color: black;
}
 .switch-field label:first-of-type {
	 border-left: 1px solid rgba(0, 0, 0, 0.2);
	 border-radius: 0 0 0 4px;
}
 .switch-field label:last-of-type {
	 border-radius: 0 0 4px 0;
}
 .switch-field label:not([for=label]):hover {
	 background-color: rgba(0, 0, 0, 0.1);
}
 input.red:checked + label {
	 background-color: #dc9086;
	 box-shadow: none;
	 color: black;
	 font-weight: bold;
}
 input.green:checked + label {
	 background-color: #a5dc86;
	 box-shadow: none;
	 color: black;
	 font-weight: bold;
}
 input:disabled:not(#label) + label {
	 background: repeating-linear-gradient(-45deg, #e0e0e0, #e0e0e0 5px, white 5px, white 10px);
}


.language-select {
    position: relative;
    text-align: right;
    margin-top: 1em;
}

.button-lang {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-lang:hover,
.button-lang:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-lang:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-lang:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.selected {
    font-weight: bold;
}

footer {
    font-size: small;
}